# **print() Statement**

It is an inbuilt function in python which is use to display anything in terminal or console.

In [2]:
print("Hello World")
print("Welcome to this python basics material!!")

Hello World
Welcome to this python basics material!!

# **Single Line and Multi Line Comments**

These are simple text in our python code that are meant for human readers and are ignored by python interpreter.

## **Single Line Comments**

Comments which are in a single line are called single line comments and they starts with hash(#) symbol.

In [3]:
# This a single line comment

## **Multi Line Comments**

Comments which are in multiple lines are called multi line comments and we can create these in python by using triple quotes(''' ''')

In [4]:
'''
This is a multi line comment.

I hope you are enjoying
'''

'\nThis is a multi line comment.\n\nI hope you are enjoying\n'

# **Variables**

Variables are the containers that hold some values of different data types.

In [9]:
# creating variables
a = 10
b = 'abc'

In [10]:
print(a)
print(b)

10
abc

**We cannot create a variable name with number.**

For EX: 1a = 10 -----> incorrect

# **Basic data types in python**

## **Integer**

Integer are simple whole numbers.

In [11]:
a = 10
print(type(a))

<class 'int'>

**Operations with Integers :**

In [12]:
# Addition
a + 10

20

In [15]:
# Subtraction
a - 2

8

In [13]:
# Multiplication
a * 2

20

In [14]:
# Division
a / 2

5.0

## **Floats**

Floats are numbers having decimal points or decimal numbers are knows as floats.

In [16]:
a = 10.5
print(type(a))

<class 'float'>

## **Boolean**

Boolean is a data type that represents True or False

In [22]:
a = True
print(type(a))

<class 'bool'>

**Operations**

In [23]:
# and logic
True and True

True

In [24]:
True and False

False

## **Strings**

Strings are the data types that are used to store textual information

In [25]:
language = "Python"
print(language)
print(type(language))

Python
<class 'str'>

**Operations**

In [28]:
'''
Concatenation :
It is a process of adding similar data types
'''
print('Data' + ' ' + 'Science')

Data Science

## **Complex Numbers**

These are the complex numbers of mathematics

In [30]:
complex_number = 10 + 25j
print(complex_number)
print(type(complex_number))

(10+25j)
<class 'complex'>

# **Type Casting**

The process of converting any data type to other data type is called type casting

In [17]:
a = 10.5
print(type(a))

<class 'float'>

In [19]:
# Type casting float to integer
int(a)

10

In [20]:
# Type casting integer to float
a = 10
float(a)

10.0

## **Dynamic Typing**

It is simply type casting a variable datatype into some other datatype

In [31]:
a = 10
print(type(a))
a = 'Python'
print(type(a))

<class 'int'>
<class 'str'>

## **Strong Typing**

It is the process of explicitly type casting a variable data type into other data type

In [35]:
a = 10
print(a)
print(type(a))
a = str(a)
print(a)
print(type(a))

10
<class 'int'>
10
<class 'str'>

# **String Formatting**

It is a string which contains replacements fields represented by ginger tags({}).

In [36]:
a = 100
print(f"The value of a is: {a}")

The value of a is: 100

In [41]:
first_name = "Anas"
last_name = "Malik"
print(f"My full name is: {first_name} {last_name}")
print("My full name is: {} {}".format(first_name, last_name))

My full name is: Anas Malik
My full name is: Anas Malik

# **input() Functon**

It is an inbuilt function which allow us to take input from the user

In [42]:
first_name = input("Please enter your first name: ")
last_name = input("Please enter your last name: ")
print("Welcome {} {}".format(first_name, last_name))

Please enter your first name: Anas
Please enter your last name: Malik
Welcome Anas Malik

**Note: It takes string as an input by default**