# **Sets**

A Set is an unordered collection of data types that is iterable, immutable and has no duplicate elements. It is represented by ginger tags({}).

In [28]:
# creating an empty set
my_set = set()
print(my_set)
print(type(my_set))

set()
<class 'set'>

In [30]:
# creating a set with elements
my_set = {1,1,2,2,3,3,3,3,4,5,'python'}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 'python'}
<class 'set'>

**Note: We cannot retreive elements of set using indexing because sets are unordered**

In [31]:
# retrieving elements using for loop
for elem in my_set:
  print(elem)

1
2
3
4
5
python

## **Set Methods**

### **Add Method**

It is used to add single element in a set

In [35]:
my_set = {1,2,3}
print(my_set)
my_set.add('Python')
print(my_set)
my_set.add('Data Science')
print(my_set)
my_set.add(0)
print(my_set)

{1, 2, 3}
{1, 2, 3, 'Python'}
{1, 2, 3, 'Python', 'Data Science'}
{0, 1, 2, 3, 'Python', 'Data Science'}

### **Update Method**

It is used to add multiple elements in a set

In [39]:
my_set = {1,2,3}
print(my_set)
my_set.update([0, 'Python'])
print(my_set)
my_set.update({'Data Science', 'Machine Learning'})
print(my_set)

{1, 2, 3}
{0, 1, 2, 3, 'Python'}
{0, 1, 2, 3, 'Python', 'Data Science', 'Machine Learning'}

### **Intersection Method**

It is used to get the common elements between two sets

In [41]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
# mtheod 1
intersection = set1.intersection(set2)
print(intersection)

# method 2
print(set1 & set2)

{3, 4, 5}
{3, 4, 5}

### **Union Method**

It is used to get the union of the two sets

In [44]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
# method 1
union = set1.union(set2)
print(union)

# method 2
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

### **Difference Method**

It drops all of the elements which are common in second set and returns the remaining uncommon elements of first set.

In [45]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
# method 1
difference = set1.difference(set2)
print(difference)

# method 2
print(set1 - set2)

{1, 2}
{1, 2}

# **Dictionaries**

It is a collection of different data types in key-value pairs which is unordered, changeable and indexed. It is represented by ginger tags({}).

In [46]:
# creating an empty dictionary
# method 1
my_dict = {}
print(my_dict)
print(type(my_dict))

# method 2
my_dict = dict()
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>
{}
<class 'dict'>

In [52]:
# creating a dictionary with elements
my_dict = {'Name': 'Anas', 'Age': 23}
print(my_dict)
print(type(my_dict))

{'Name': 'Anas', 'Age': 23}
<class 'dict'>

In [54]:
# retreiving values of a dictionary
print(my_dict['Name'])
print(my_dict['Age'])

Anas
23

## **Dictionary Methods**

### **keys Method**

It returns all of the keys present in a dictionary

In [55]:
my_set = {'Name': 'Anas', 'Age': 23}
print(my_set)
print(my_set.keys())

{'Name': 'Anas', 'Age': 23}
dict_keys(['Name', 'Age'])

### **Values Method**

It returns all of the values present in a dictionary

In [57]:
my_dict = {'Name': 'Anas', 'Age': 23}
print(my_dict)
print(my_dict.values())

{'Name': 'Anas', 'Age': 23}
dict_values(['Anas', 23])

### **Items Method**

It returns a list of tuples containing keys and values present in a dictionary

In [58]:
my_dict = {'Name': 'Anas', 'Age': 23}
print(my_dict)
print(my_dict.items())

{'Name': 'Anas', 'Age': 23}
dict_items([('Name', 'Anas'), ('Age', 23)])

### **Get Method**

It is used to retreive a value for a given key and returns None if key is not present in dictionary

In [65]:
my_dict = {'Name': 'Anas', 'Age': 23}
print(my_dict)
print(my_dict.get('Name'))
print(my_dict.get('Salary'))

{'Name': 'Anas', 'Age': 23}
Anas
None

### **Pop Method**

It is used to remove a particular key-value pair from a dictionary by passing key as an argument and it returns the value after removing

In [71]:
my_dict = {'Name': 'Anas', 'Age': 23}
print(my_dict)
print(my_dict.pop('Age'))
print(my_dict)

{'Name': 'Anas', 'Age': 23}
23
{'Name': 'Anas'}

### **Update Method**

It is used to add multiple key-value pairs in a dictionary

In [73]:
my_dict = {'Name': 'Anas', 'Age': 23}
print(my_dict)
my_dict.update({'Profession': 'Data Scientist', 'Skills': ['Python', 'SQL', 'Statistics', 'Machine Learning', 'Deep Learning']})
print(my_dict)

{'Name': 'Anas', 'Age': 23}
{'Name': 'Anas', 'Age': 23, 'Profession': 'Data Scientist', 'Skills': ['Python', 'SQL', 'Statistics', 'Machine Learning', 'Deep Learning']}

# **Tuples**

It is a collection of different data types like Lists but they are immutable in nature.

In [76]:
# creating an empty tuple
# method 1
my_tup = tuple()
print(my_tup)
print(type(my_tup))

# method 2
my_tup = ()
print(my_tup)
print(type(my_tup))

()
<class 'tuple'>
()
<class 'tuple'>

In [81]:
# creating tuple with elements
# method 1
my_tup = (1,2,3,4,'Python')
print(my_tup)
print(type(my_tup))

# method 2
my_tup = 1,2,3,4,'Python'
print(my_tup)
print(type(my_tup))

(1, 2, 3, 4, 'Python')
<class 'tuple'>
(1, 2, 3, 4, 'Python')
<class 'tuple'>

In [78]:
# creating tuple with single element
my_tup = ('Python',)
print(my_tup)
print(type(my_tup))

('Python',)
<class 'tuple'>

In [83]:
# retreiving single element using indexing
my_tup = 1,2,3,4,'Python'
print(my_tup[0])
print(my_tup[-1])

1
Python

In [86]:
# retreiving multiple elements using slicing
my_tup = 1,2,3,4,'Python'
print(my_tup[:])
print(my_tup[2:4])

(1, 2, 3, 4, 'Python')
(3, 4)

## **Tuple Methods**

### **Count Method**

It counts the total occurence of a given elements in a tuple

In [84]:
my_tup = (1,2,3,3,4,4,4,4)
print(my_tup)
print("Occurence of 2: ", my_tup.count(2))
print("Occurence of 4: ", my_tup.count(4))

(1, 2, 3, 3, 4, 4, 4, 4)
Occurence of 2:  1
Occurence of 4:  4

### **Index Method**

It returns the index of first occuence of a given element as an argument

In [87]:
my_tup = (1,2,3,3,4,4,4,4)
print(my_tup)
print(my_tup.index(4))

(1, 2, 3, 3, 4, 4, 4, 4)
4