# **List Comprehension**

It is a way of creating a new list from an iterable object while satisfying certain condition if there.

In [49]:
# creating a list
lst1 = [1, 2, 3, 4, 5]

In [30]:
# creating a new list with square of elements
# method 1 : using normal for loop
lst2 = []
for i in lst1:
  lst2.append(i**2)
print(lst2)

[1, 4, 9, 16, 25]

In [50]:
# method 2 : using list comprehension
lst2 = [i**2 for i in lst1]
print(lst2)

[1, 4, 9, 16, 25]

In [51]:
# creating a list
lst1 = list(range(1,11))
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# filtering even numbers from a list
lst2 = [i for i in lst1 if i%2 == 0]
print(lst2)

[2, 4, 6, 8, 10]

In [52]:
# squaring even numbers and cubing odd numbers
lst2 = [i**2 if i%2==0 else i**3 for i in lst1]
print(lst2)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [47]:
# falttening out a list
lst1 = [[1,2,3], [4,5,6], [7,8,9]]
print(lst1)

lst2 = [elem for sublist in lst1 for elem in sublist]
print(lst2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
# generating a list of first letters of words in a list
words = ['apple', 'banana', 'cherry', 'date']
first_letters = [word[0] for word in words]
print(first_letters)

['a', 'b', 'c', 'd']

In [56]:
# converting a list of strings to list of integers
lst = ['1', '2', '3', '4', '5']

# method 1: using map function
lst_of_int = list(map(int, lst))
print(lst_of_int)

# method 2: using list comprehension
lst_of_int = [int(i) for i in lst]
print(lst_of_int)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]