# **Lambda Functions in Python**

In python, a lambda function(also called as anonymous function) is a small, anonymous function that can be defined in a single line of code without a name. It is useful when we need a simple function that we don't want to define explicitly using def keyword. The basic syntax for a lambda function is :

**lambda arguments: expression**

In [61]:
# creating a lambda function to add two numbers
add = lambda a,b: a+b
add(2,3)

5

In [62]:
# multiplying two numbers
mul = lambda a,b: a*b
mul(2,3)

6

In [64]:
# return length of a string
len_of_str = lambda string: len(string)
len_of_str("lambda")

6

In [69]:
# converting list of integers to their square values
numbers = [1,2,3,4,5]

# method 1: using map function
sqr_vals = lambda x: x**2
print(list(map(sqr_vals, numbers)))

# method 2: using list comprehension
sqr_vals = lambda lst: [i**2 for i in lst]
print(sqr_vals(numbers))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [71]:
# filter out even number from a list
numbers = list(range(1, 11))

# method 1: using filter function
even_numbers = lambda num: num%2 == 0
print(list(filter(even_numbers, numbers)))

# method 2: using list comprehension
even_numbers = lambda lst: [num for num in lst if num%2==0]
print(even_numbers(numbers))

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [79]:
# sort a list of dictionaries based on a specific key
people = [
    {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
    {'name': 'Aarav', 'age': 25, 'occupation': 'Engineer'},
    {'name': 'Bob', 'age': 30, 'occupation': 'Manager'},
    {'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
    {'name': 'Dave', 'age': 27, 'occupation': 'Designer'}
]

In [80]:
sorted(people, key=lambda x: x['age'])

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Aarav', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [81]:
sorted(people, key=lambda x: (x['age'], x['name']))

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Aarav', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [82]:
# find the max value in a dictionary
data = {'a': 10, 'b': 20, 'c': 5, 'd': 15}
max(data, key=lambda x: data[x])

'b'

In [86]:
# grouping a list of strings based on their first letter
from itertools import groupby

words = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
groups = groupby(sorted(words, key=lambda x: x[0]))

for key, group in groups:
  print(key, list(group))

apple ['apple']
banana ['banana']
cherry ['cherry']
date ['date']
elderberry ['elderberry']
fig ['fig']