# **Python Data Classes**

In Python, dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods such as init, repr and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [2]:
# importing dataclass
from dataclasses import dataclass

In [9]:
# creating a class with dataclass decorator
@dataclass
class Person:
  # defining attributes
  name: str
  age: int
  profession: str

The @dataclass decorator automatically generates the following methods for you :

1. __init__() : Initializes the object and assign the provided values to the attributes
2. __repr__() : Provides a string representation of the object.
3. __eq__() : Implements equally comparison between the objects of the class based on their attributes.

In [7]:
# initializing the person class
person = Person("Anas", 23, "Data Scientist")

In [8]:
# checking the attributes
print(person.name)
print(person.age)
print(person.profession)

Anas
23
Data Scientist

In [13]:
# creating a class using @dataclass decorator
@dataclass
class Rectangle:
  # defining attributes
  width: int
  height: int
  colour: str = "White" # default value

In [14]:
# intantiating the class
rectangle1 = Rectangle(3, 4)
rectangle2 = Rectangle(12, 13, 'Red')

In [16]:
# checking the attributes for rectangle1 object
print(rectangle1.width)
print(rectangle1.height)
print(rectangle1.colour)

3
4
White

In [17]:
# checking the attributes for rectangle2 object
print(rectangle2.width)
print(rectangle2.height)
print(rectangle2.colour)

12
13
Red

In [18]:
# creating a class using @dataclass decorator with frozen=True
@dataclass(frozen=True)
class Point:
  # defining attributes
  x: int
  y: int

In [19]:
# instantiating class
point = Point(3,4)

In [20]:
# accessing attributes
point.x, point.y

(3, 4)

**What frozen=true does ?**

It help us to give us the property that once the attributes are instantiated, then we cannot reassign or delete the attribute.

In [22]:
# Inheritance
# creating a class using @dataclass
@dataclass
class Person:
  # defining attributes
  name: str
  age: int


# creating a child class
@dataclass
class Employee(Person):
  employee_id: int
  department: str

In [23]:
#instantiating the class
person = Person('Anas', 23)
employee = Employee('Afzal', 32, 1, "Cloud Department")

In [25]:
# accessing attributes
employee.name, employee.age, employee.employee_id, employee.department

('Afzal', 32, 1, 'Cloud Department')

In [26]:
# Nested dataclasses
@dataclass
class Address:
  # defining attributes
  street: str
  city: str
  zipCode: str

@dataclass
class Person:
  # defining attributes
  name: str
  age: int
  address: Address

In [27]:
# instantiating the class
address = Address('123 Main Street', 'Banglore', '12345')
person = Person('Anas', 23, address)

In [28]:
# accessing attributes
person.address

Address(street='123 Main Street', city='Banglore', zipCode='12345')

In [30]:
person.address.street, person.address.city, person.address.zipCode

('123 Main Street', 'Banglore', '12345')

In [35]:
# creating a class
@dataclass
class Circle:
  # defining attributes
  radius: int

  def area(self):
    import math
    return 2 * math.pi * self.radius

In [38]:
# instantiating the class
circle = Circle(5)

In [39]:
# accessing the methods
circle.area()

31.41592653589793

In [47]:
# creating class using @dataclass
@dataclass
class InventoryItem:
  # defining attributes
  name: str
  unit_price: float
  quantity_on_hand: int = 0 # default value 0

  # method
  def total_cost(self) -> float:
    return self.unit_price * self.quantity_on_hand

In [48]:
# instantiating the class
item1 = InventoryItem('Gold', 1000, 2)

In [49]:
# accessig method
item1.total_cost()

2000